/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */
import { encodeSimple } from "../lib/encodings.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { pathToFunc } from "../lib/url.js";
import { DeleteFullProjectRequest$zodSchema, DeleteFullProjectResponse$zodSchema, } from "../models/deletefullprojectop.js";
import { APIPromise } from "../types/async.js";
/**
 * Delete Full Project
 *
 * @remarks
 * Delete a complete project and cascade to all related entities (Agents, Sub Agents, tools, relationships)
 */
export function fullProjectDeleteFullProject(client$, request, options) {
    return new APIPromise($do(client$, request, options));
}
async function $do(client$, request, options) {
    const parsed$ = safeParse(request, (value$) => DeleteFullProjectRequest$zodSchema.parse(value$), "Input validation failed");
    if (!parsed$.ok) {
        return [parsed$, { status: "invalid" }];
    }
    const payload$ = parsed$.value;
    const body$ = null;
    const pathParams$ = {
        projectId: encodeSimple("projectId", payload$.projectId, {
            explode: false,
            charEncoding: "percent",
        }),
        tenantId: encodeSimple("tenantId", payload$.tenantId, {
            explode: false,
            charEncoding: "percent",
        }),
    };
    const path$ = pathToFunc("/tenants/{tenantId}/project-full/{projectId}")(pathParams$);
    const headers$ = new Headers(compactMap({
        Accept: "application/problem+json",
    }));
    const context = {
        options: client$._options,
        baseURL: options?.serverURL ?? client$._baseURL ?? "",
        operationID: "delete-full-project",
        oAuth2Scopes: null,
        resolvedSecurity: null,
        securitySource: null,
        retryConfig: options?.retries
            || client$._options.retryConfig
            || { strategy: "none" },
        retryCodes: options?.retryCodes || [
            "429",
            "500",
            "502",
            "503",
            "504",
        ],
    };
    const requestRes = client$._createRequest(context, {
        method: "DELETE",
        baseURL: options?.serverURL,
        path: path$,
        headers: headers$,
        body: body$,
        userAgent: client$._options.userAgent,
        timeoutMs: options?.timeoutMs || client$._options.timeoutMs
            || -1,
    }, options);
    if (!requestRes.ok) {
        return [requestRes, { status: "invalid" }];
    }
    const req$ = requestRes.value;
    const doResult = await client$._do(req$, {
        context,
        errorCodes: [],
        retryConfig: context.retryConfig,
        retryCodes: context.retryCodes,
    });
    if (!doResult.ok) {
        return [doResult, { status: "request-error", request: req$ }];
    }
    const response = doResult.value;
    const responseFields$ = {
        HttpMeta: { Response: response, Request: req$ },
    };
    const [result$] = await M.match(M.nil(204, DeleteFullProjectResponse$zodSchema), M.json(400, DeleteFullProjectResponse$zodSchema, {
        ctype: "application/problem+json",
        key: "BadRequest",
    }), M.json(401, DeleteFullProjectResponse$zodSchema, {
        ctype: "application/problem+json",
        key: "Unauthorized",
    }), M.json(403, DeleteFullProjectResponse$zodSchema, {
        ctype: "application/problem+json",
        key: "Forbidden",
    }), M.json(404, DeleteFullProjectResponse$zodSchema, {
        ctype: "application/problem+json",
        key: "NotFound",
    }), M.json(422, DeleteFullProjectResponse$zodSchema, {
        ctype: "application/problem+json",
        key: "UnprocessableEntity",
    }), M.json(500, DeleteFullProjectResponse$zodSchema, {
        ctype: "application/problem+json",
        key: "InternalServerError",
    }))(response, req$, { extraFields: responseFields$ });
    return [result$, { status: "complete", request: req$, response }];
}
//# sourceMappingURL=fullProjectDeleteFullProject.js.map