/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */
import { encodeFormQuery } from "../lib/encodings.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { pathToFunc } from "../lib/url.js";
import { InitiateOauthLoginPublicRequest$zodSchema, InitiateOauthLoginPublicResponse$zodSchema, } from "../models/initiateoauthloginpublicop.js";
import { APIPromise } from "../types/async.js";
/**
 * Initiate OAuth login for MCP tool
 *
 * @remarks
 * Detects OAuth requirements and redirects to authorization server (public endpoint)
 */
export function oAuthInitiateOauthLoginPublic(client$, request, options) {
    return new APIPromise($do(client$, request, options));
}
async function $do(client$, request, options) {
    const parsed$ = safeParse(request, (value$) => InitiateOauthLoginPublicRequest$zodSchema.parse(value$), "Input validation failed");
    if (!parsed$.ok) {
        return [parsed$, { status: "invalid" }];
    }
    const payload$ = parsed$.value;
    const body$ = null;
    const path$ = pathToFunc("/oauth/login")();
    const query$ = encodeFormQuery({
        "projectId": payload$.projectId,
        "tenantId": payload$.tenantId,
        "toolId": payload$.toolId,
    });
    const headers$ = new Headers(compactMap({
        Accept: "text/html",
    }));
    const context = {
        options: client$._options,
        baseURL: options?.serverURL ?? client$._baseURL ?? "",
        operationID: "initiate-oauth-login-public",
        oAuth2Scopes: null,
        resolvedSecurity: null,
        securitySource: null,
        retryConfig: options?.retries
            || client$._options.retryConfig
            || { strategy: "none" },
        retryCodes: options?.retryCodes || [
            "429",
            "500",
            "502",
            "503",
            "504",
        ],
    };
    const requestRes = client$._createRequest(context, {
        method: "GET",
        baseURL: options?.serverURL,
        path: path$,
        headers: headers$,
        query: query$,
        body: body$,
        userAgent: client$._options.userAgent,
        timeoutMs: options?.timeoutMs || client$._options.timeoutMs
            || -1,
    }, options);
    if (!requestRes.ok) {
        return [requestRes, { status: "invalid" }];
    }
    const req$ = requestRes.value;
    const doResult = await client$._do(req$, {
        context,
        errorCodes: [],
        retryConfig: context.retryConfig,
        retryCodes: context.retryCodes,
    });
    if (!doResult.ok) {
        return [doResult, { status: "request-error", request: req$ }];
    }
    const response = doResult.value;
    const responseFields$ = {
        HttpMeta: { Response: response, Request: req$ },
    };
    const [result$] = await M.match(M.nil(302, InitiateOauthLoginPublicResponse$zodSchema), M.text(400, InitiateOauthLoginPublicResponse$zodSchema, {
        ctype: "text/html",
        key: "fourHundredTextHtmlRes",
    }), M.text(404, InitiateOauthLoginPublicResponse$zodSchema, {
        ctype: "text/html",
        key: "fourHundredAndFourTextHtmlRes",
    }), M.text(500, InitiateOauthLoginPublicResponse$zodSchema, {
        ctype: "text/html",
        key: "fiveHundredTextHtmlRes",
    }))(response, req$, { extraFields: responseFields$ });
    return [result$, { status: "complete", request: req$, response }];
}
//# sourceMappingURL=oAuthInitiateOauthLoginPublic.js.map