.tiptap {
  [data-type="taskList"] {
    li {
      display: flex;
      align-items: flex-start;
      gap: 0.25rem;
    }
    & > li > div > p:first-child {
      margin: 0;
      line-height: 1.2;
    }
  }
}
