{"openapi":"3.1.0","info":{"title":"Inkeep Agents API","version":"1.0.0","description":"REST API for the Inkeep Agent Framework."},"servers":[{"url":"https://api.pilot.inkeep.com","description":"API Server"}],"tags":[{"name":"A2A","description":"Agent-to-Agent communication endpoints"},{"name":"API Keys","description":"Operations for managing API keys"},{"name":"Agents","description":"Operations for managing agents"},{"name":"Artifact Components","description":"Operations for managing artifact components"},{"name":"Branches","description":"Operations for managing branches"},{"name":"Channels","description":"Operations for managing Slack channels"},{"name":"CLI","description":"CLI authentication endpoints"},{"name":"Chat","description":"Chat completions endpoints"},{"name":"Context Configs","description":"Operations for managing context configurations"},{"name":"Conversations","description":"Operations for managing conversations"},{"name":"Credentials","description":"Operations for managing credentials"},{"name":"Credential Stores","description":"Operations for managing credential stores"},{"name":"Data Components","description":"Operations for managing data components"},{"name":"Evaluations","description":"Operations for managing evaluations"},{"name":"External Agents","description":"Operations for managing external agents"},{"name":"Function Tools","description":"Operations for managing function tools"},{"name":"Functions","description":"Operations for managing functions"},{"name":"GitHub","description":"GitHub App integration endpoints"},{"name":"MCP","description":"MCP (Model Context Protocol) endpoints"},{"name":"MCP Catalog","description":"Operations for MCP catalog"},{"name":"OAuth","description":"OAuth authentication endpoints"},{"name":"Project Members","description":"Operations for managing project members"},{"name":"Project Permissions","description":"Operations for managing project permissions"},{"name":"Projects","description":"Operations for managing projects"},{"name":"Refs","description":"Operations for the resolved ref (branch name, tag name, or commit hash)"},{"name":"Skills","description":"Reusable instruction blocks that can be attached to multiple sub-agents and ordered for priority"},{"name":"Slack","description":"Slack App integration endpoints"},{"name":"SubAgents","description":"Operations for managing sub agents"},{"name":"Scheduled Triggers","description":"Operations for managing scheduled triggers"},{"name":"Third-Party MCP Servers","description":"Operations for managing third-party MCP servers"},{"name":"Tools","description":"Operations for managing MCP tools"},{"name":"Triggers","description":"Operations for managing triggers"},{"name":"User Project Memberships","description":"Operations for managing user project memberships"},{"name":"Users","description":"Operations for managing users"},{"name":"Webhooks","description":"Webhook endpoints"},{"name":"Work Apps","description":"Work app integrations (Slack, Teams, etc.)"},{"name":"Workflows","description":"Workflow trigger endpoints"},{"name":"Workspaces","description":"Operations for managing Slack workspaces"}],"components":{"schemas":{"ReadyResponse":{"type":"object","properties":{"status":{"type":"string","enum":["ok"]},"manageDb":{"type":"boolean","description":"Whether the manage database is reachable"},"runDb":{"type":"boolean","description":"Whether the run database is reachable"}},"required":["status","manageDb","runDb"]},"ReadyErrorChecks":{"type":"object","properties":{"manageDb":{"type":"boolean","description":"Whether the manage database check passed"},"runDb":{"type":"boolean","description":"Whether the run database check passed"}},"required":["manageDb","runDb"]},"ReadyErrorResponse":{"type":"object","properties":{"type":{"type":"string","description":"A URI reference that identifies the problem type"},"title":{"type":"string","description":"A short, human-readable summary of the problem type"},"status":{"type":"number","description":"The HTTP status code"},"detail":{"type":"string","description":"A human-readable explanation specific to this occurrence"},"checks":{"$ref":"#/components/schemas/ReadyErrorChecks"}},"required":["type","title","status","detail","checks"]},"CapabilitiesResponseSchema":{"type":"object","properties":{"sandbox":{"type":"object","properties":{"configured":{"type":"boolean","description":"Whether a sandbox provider is configured. Required for Function Tools execution."},"provider":{"type":"string","enum":["native","vercel"],"description":"The configured sandbox provider, if enabled."},"runtime":{"type":"string","enum":["node22","typescript"],"description":"The configured sandbox runtime, if enabled."}},"required":["configured"],"description":"Sandbox execution capabilities (used by Function Tools)."}},"required":["sandbox"],"description":"Optional server capabilities and configuration."},"ModelSettings":{"type":"object","properties":{"model":{"type":"string","description":"The model to use for the project."},"providerOptions":{"type":"object","additionalProperties":{"nullable":true},"description":"The provider options to use for the project."}}},"ProjectModel":{"type":"object","nullable":true,"properties":{"base":{"$ref":"#/components/schemas/ModelSettings"},"structuredOutput":{"$ref":"#/components/schemas/ModelSettings"},"summarizer":{"$ref":"#/components/schemas/ModelSettings"}},"required":["base"]},"StopWhen":{"type":"object","nullable":true,"properties":{"transferCountIs":{"type":"number","minimum":1,"maximum":1000,"description":"The maximum number of transfers to trigger the stop condition."},"stepCountIs":{"type":"number","minimum":1,"maximum":1000,"description":"The maximum number of steps to trigger the stop condition."}}},"Project":{"type":"object","properties":{"id":{"type":"string","maxLength":256},"name":{"type":"string","maxLength":256},"description":{"type":"string","nullable":true},"models":{"$ref":"#/components/schemas/ProjectModel"},"stopWhen":{"$ref":"#/components/schemas/StopWhen"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","name","description","models","stopWhen","createdAt","updatedAt"]},"PaginationPageQueryParam":{"type":"number","minimum":1,"default":1},"PaginationLimitQueryParam":{"type":"number","minimum":1,"maximum":100,"default":10},"Pagination":{"type":"object","properties":{"page":{"$ref":"#/components/schemas/PaginationPageQueryParam"},"limit":{"$ref":"#/components/schemas/PaginationLimitQueryParam"},"total":{"type":"number"},"pages":{"type":"number"}},"required":["total","pages"]},"ProjectListResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Project"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["data","pagination"]},"ProblemDetails":{"type":"object","properties":{"title":{"type":"string","description":"A short, human-readable summary of the problem type.","example":"Resource Not Found"},"status":{"type":"integer","description":"The HTTP status code.","example":404},"detail":{"type":"string","description":"A human-readable explanation specific to this occurrence of the problem.","example":"The requested resource was not found."},"instance":{"type":"string","description":"A URI reference that identifies the specific occurrence of the problem.","example":"/conversations/123"},"requestId":{"type":"string","description":"A unique identifier for the request, useful for troubleshooting.","example":"req_1234567890"},"code":{"type":"string","enum":["bad_request","unauthorized","forbidden","not_found","conflict","internal_server_error","unprocessable_entity"],"description":"A short code indicating the error code returned.","example":"not_found"}},"required":["title","status","detail","code"]},"BadRequest":{"allOf":[{"$ref":"#/components/schemas/ProblemDetails"},{"type":"object","properties":{"title":{"type":"string","description":"A short, human-readable summary of the problem type.","example":"Bad Request"},"status":{"type":"integer","description":"The HTTP status code.","example":400},"detail":{"type":"string","description":"A detailed explanation specific to this occurrence of the problem, providing context and specifics about what went wrong.","example":"Bad Request"},"code":{"type":"string","enum":["bad_request"],"description":"A short code indicating the error code returned.","example":"bad_request"},"error":{"type":"object","properties":{"code":{"type":"string","enum":["bad_request"],"description":"A short code indicating the error code returned.","example":"bad_request"},"message":{"type":"string","description":"A concise error message suitable for display to end users. May be truncated if the full detail is long.","example":"Bad Request"}},"required":["code","message"],"description":"Legacy error format for backward compatibility."}},"required":["error"]}]},"Unauthorized":{"allOf":[{"$ref":"#/components/schemas/ProblemDetails"},{"type":"object","properties":{"title":{"type":"string","description":"A short, human-readable summary of the problem type.","example":"Unauthorized"},"status":{"type":"integer","description":"The HTTP status code.","example":401},"detail":{"type":"string","description":"A detailed explanation specific to this occurrence of the problem, providing context and specifics about what went wrong.","example":"Unauthorized"},"code":{"type":"string","enum":["unauthorized"],"description":"A short code indicating the error code returned.","example":"unauthorized"},"error":{"type":"object","properties":{"code":{"type":"string","enum":["unauthorized"],"description":"A short code indicating the error code returned.","example":"unauthorized"},"message":{"type":"string","description":"A concise error message suitable for display to end users. May be truncated if the full detail is long.","example":"Unauthorized"}},"required":["code","message"],"description":"Legacy error format for backward compatibility."}},"required":["error"]}]},"Forbidden":{"allOf":[{"$ref":"#/components/schemas/ProblemDetails"},{"type":"object","properties":{"title":{"type":"string","description":"A short, human-readable summary of the problem type.","example":"Forbidden"},"status":{"type":"integer","description":"The HTTP status code.","example":403},"detail":{"type":"string","description":"A detailed explanation specific to this occurrence of the problem, providing context and specifics about what went wrong.","example":"Forbidden"},"code":{"type":"string","enum":["forbidden"],"description":"A short code indicating the error code returned.","example":"forbidden"},"error":{"type":"object","properties":{"code":{"type":"string","enum":["forbidden"],"description":"A short code indicating the error code returned.","example":"forbidden"},"message":{"type":"string","description":"A concise error message suitable for display to end users. May be truncated if the full detail is long.","example":"Forbidden"}},"required":["code","message"],"description":"Legacy error format for backward compatibility."}},"required":["error"]}]},"NotFound":{"allOf":[{"$ref":"#/components/schemas/ProblemDetails"},{"type":"object","properties":{"title":{"type":"string","description":"A short, human-readable summary of the problem type.","example":"Not Found"},"detail":{"type":"string","description":"A detailed explanation specific to this occurrence of the problem, providing context and specifics about what went wrong.","example":"Not Found"},"code":{"type":"string","enum":["not_found"],"description":"A short code indicating the error code returned.","example":"not_found"},"error":{"type":"object","properties":{"code":{"type":"string","enum":["not_found"],"description":"A short code indicating the error code returned.","example":"not_found"},"message":{"type":"string","description":"A concise error message suitable for display to end users. May be truncated if the full detail is long.","example":"Not Found"}},"required":["code","message"],"description":"Legacy error format for backward compatibility."}},"required":["error"]}]},"UnprocessableEntity":{"allOf":[{"$ref":"#/components/schemas/ProblemDetails"},{"type":"object","properties":{"title":{"type":"string","description":"A short, human-readable summary of the problem type.","example":"Unprocessable Entity"},"status":{"type":"integer","description":"The HTTP status code.","example":422},"detail":{"type":"string","description":"A detailed explanation specific to this occurrence of the problem, providing context and specifics about what went wrong.","example":"Unprocessable Entity"},"code":{"type":"string","enum":["unprocessable_entity"],"description":"A short code indicating the error code returned.","example":"unprocessable_entity"},"error":{"type":"object","properties":{"code":{"type":"string","enum":["unprocessable_entity"],"description":"A short code indicating the error code returned.","example":"unprocessable_entity"},"message":{"type":"string","description":"A concise error message suitable for display to end users. May be truncated if the full detail is long.","example":"Unprocessable Entity"}},"required":["code","message"],"description":"Legacy error format for backward compatibility."}},"required":["error"]}]},"InternalServerError":{"allOf":[{"$ref":"#/components/schemas/ProblemDetails"},{"type":"object","properties":{"title":{"type":"string","description":"A short, human-readable summary of the problem type.","example":"Internal Server Error"},"status":{"type":"integer","description":"The HTTP status code.","example":500},"detail":{"type":"string","description":"A detailed explanation specific to this occurrence of the problem, providing context and specifics about what went wrong.","example":"Internal Server Error"},"code":{"type":"string","enum":["internal_server_error"],"description":"A short code indicating the error code returned.","example":"internal_server_error"},"error":{"type":"object","properties":{"code":{"type":"string","enum":["internal_server_error"],"description":"A short code indicating the error code returned.","example":"internal_server_error"},"message":{"type":"string","description":"A concise error message suitable for display to end users. May be truncated if the full detail is long.","example":"Internal Server Error"}},"required":["code","message"],"description":"Legacy error format for backward compatibility."}},"required":["error"]}]},"TenantIdPathParam":{"type":"string","description":"Tenant identifier","example":"tenant_123"},"ProjectResponse":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Project"}},"required":["data"]},"ResourceId":{"type":"string","minLength":1,"maxLength":255,"pattern":"^[a-zA-Z0-9\\-_.]+$","description":"Resource identifier","example":"resource_789"},"ErrorResponse":{"type":"object","properties":{"error":{"type":"string"},"message":{"type":"string"},"details":{"nullable":true,"description":"Additional error details"}},"required":["error"]},"ProjectCreate":{"type":"object","properties":{"id":{"type":"string","maxLength":256},"name":{"type":"string","maxLength":256},"description":{"type":"string","nullable":true},"models":{"$ref":"#/components/schemas/ProjectModel"},"stopWhen":{"$ref":"#/components/schemas/StopWhen"}},"required":["id","name","models"]},"ProjectUpdate":{"type":"object","properties":{"name":{"type":"string","maxLength":256},"description":{"type":"string","nullable":true},"models":{"$ref":"#/components/schemas/ProjectModel"},"stopWhen":{"$ref":"#/components/schemas/StopWhen"}}},"BranchInfo":{"type":"object","properties":{"baseName":{"type":"string","description":"User-provided branch name"},"fullName":{"type":"string","description":"Full namespaced branch name"},"hash":{"type":"string","description":"Current commit hash of the branch"}},"required":["baseName","fullName","hash"]},"BranchListResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/BranchInfo"}}},"required":["data"]},"ProjectIdPathParam":{"type":"string","description":"Project identifier","example":"project_456"},"BranchResponse":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/BranchInfo"}},"required":["data"]},"AgentIdPathParam":{"type":"string","description":"Agent identifier","example":"agent_789"},"CreateBranchRequest":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":255,"pattern":"^[a-zA-Z0-9\\-_./]+$","example":"feature-x","description":"Name of the branch"},"from":{"type":"string","description":"Branch or commit to create from. Defaults to tenant main branch."}},"required":["name"]},"ResolvedRef":{"type":"object","properties":{"type":{"type":"string","enum":["commit","tag","branch"],"description":"The type of ref"},"name":{"type":"string","description":"The name of the ref (branch name, tag name, or commit hash)"},"hash":{"type":"string","description":"The commit hash this ref resolves to"}},"required":["type","name","hash"]},"ResolvedRefResponse":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/ResolvedRef"}},"required":["data"]},"SubAgent":{"type":"object","properties":{"id":{"type":"string","maxLength":256},"name":{"type":"string","maxLength":256},"description":{"type":"string","nullable":true},"prompt":{"type":"string","nullable":true},"conversationHistoryConfig":{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"nullable":true},{"type":"object","additionalProperties":{"nullable":true}},{"type":"array","items":{"nullable":true}},{"nullable":true}]},"models":{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"nullable":true},{"type":"object","additionalProperties":{"nullable":true}},{"type":"array","items":{"nullable":true}},{"nullable":true}]},"stopWhen":{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"nullable":true},{"type":"object","additionalProperties":{"nullable":true}},{"type":"array","items":{"nullable":true}},{"nullable":true}]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","name","description","prompt","conversationHistoryConfig","models","stopWhen","createdAt","updatedAt"]},"SubAgentListResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/SubAgent"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["data","pagination"]},"SubAgentResponse":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/SubAgent"}},"required":["data"]},"Model":{"type":"object","properties":{"base":{"$ref":"#/components/schemas/ModelSettings"},"structuredOutput":{"$ref":"#/components/schemas/ModelSettings"},"summarizer":{"$ref":"#/components/schemas/ModelSettings"}}},"SubAgentCreate":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/ResourceId"},"name":{"type":"string","maxLength":256},"description":{"type":"string","nullable":true},"prompt":{"type":"string","nullable":true},"conversationHistoryConfig":{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"nullable":true},{"type":"object","additionalProperties":{"nullable":true}},{"type":"array","items":{"nullable":true}},{"nullable":true}]},"models":{"$ref":"#/components/schemas/Model"},"stopWhen":{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"nullable":true},{"type":"object","additionalProperties":{"nullable":true}},{"type":"array","items":{"nullable":true}},{"nullable":true}]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","name"]},"SubAgentUpdate":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/ResourceId"},"name":{"type":"string","maxLength":256},"description":{"type":"string","nullable":true},"prompt":{"type":"string","nullable":true},"conversationHistoryConfig":{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"nullable":true},{"type":"object","additionalProperties":{"nullable":true}},{"type":"array","items":{"nullable":true}},{"nullable":true}]},"models":{"$ref":"#/components/schemas/Model"},"stopWhen":{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"nullable":true},{"type":"object","additionalProperties":{"nullable":true}},{"type":"array","items":{"nullable":true}},{"nullable":true}]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}}},"SubAgentRelation":{"type":"object","properties":{"id":{"type":"string","maxLength":256},"sourceSubAgentId":{"type":"string","maxLength":256},"targetSubAgentId":{"type":"string","nullable":true,"maxLength":256},"relationType":{"type":"string","nullable":true,"maxLength":256},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","sourceSubAgentId","targetSubAgentId","relationType","createdAt","updatedAt"]},"SubAgentRelationListResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/SubAgentRelation"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["data","pagination"]},"SubAgentRelationResponse":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/SubAgentRelation"}},"required":["data"]},"SubAgentRelationCreate":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/ResourceId"},"sourceSubAgentId":{"$ref":"#/components/schemas/ResourceId"},"targetSubAgentId":{"$ref":"#/components/schemas/ResourceId"},"relationType":{"type":"string","enum":["transfer","delegate"]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"externalSubAgentId":{"$ref":"#/components/schemas/ResourceId"},"teamSubAgentId":{"$ref":"#/components/schemas/ResourceId"}},"required":["id","sourceSubAgentId","relationType"]},"SubAgentRelationUpdate":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/ResourceId"},"sourceSubAgentId":{"$ref":"#/components/schemas/ResourceId"},"targetSubAgentId":{"$ref":"#/components/schemas/ResourceId"},"relationType":{"type":"string","enum":["transfer","delegate"]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"externalSubAgentId":{"$ref":"#/components/schemas/ResourceId"},"teamSubAgentId":{"$ref":"#/components/schemas/ResourceId"}}},"SubAgentExternalAgentRelation":{"type":"object","properties":{"id":{"type":"string","maxLength":256},"subAgentId":{"type":"string","maxLength":256},"externalAgentId":{"type":"string","maxLength":256},"headers":{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"nullable":true},{"type":"object","additionalProperties":{"nullable":true}},{"type":"array","items":{"nullable":true}},{"nullable":true}]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","subAgentId","externalAgentId","headers","createdAt","updatedAt"]},"SubAgentExternalAgentRelationListResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/SubAgentExternalAgentRelation"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["data","pagination"]},"SubAgentIdPathParam":{"type":"string","description":"Sub-agent identifier","example":"sub_agent_123"},"SubAgentExternalAgentRelationResponse":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/SubAgentExternalAgentRelation"}},"required":["data"]},"SubAgentExternalAgentRelationCreate":{"type":"object","properties":{"externalAgentId":{"$ref":"#/components/schemas/ResourceId"},"headers":{"type":"object","nullable":true,"additionalProperties":{"type":"string"}},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["externalAgentId"]},"SubAgentExternalAgentRelationUpdate":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/ResourceId"},"subAgentId":{"$ref":"#/components/schemas/ResourceId"},"externalAgentId":{"$ref":"#/components/schemas/ResourceId"},"headers":{"type":"object","nullable":true,"additionalProperties":{"type":"string"}},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}}},"SubAgentTeamAgentRelation":{"type":"object","properties":{"id":{"type":"string","maxLength":256},"subAgentId":{"type":"string","maxLength":256},"targetAgentId":{"type":"string","maxLength":256},"headers":{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"nullable":true},{"type":"object","additionalProperties":{"nullable":true}},{"type":"array","items":{"nullable":true}},{"nullable":true}]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","subAgentId","targetAgentId","headers","createdAt","updatedAt"]},"SubAgentTeamAgentRelationListResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/SubAgentTeamAgentRelation"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["data","pagination"]},"SubAgentTeamAgentRelationResponse":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/SubAgentTeamAgentRelation"}},"required":["data"]},"SubAgentTeamAgentRelationCreate":{"type":"object","properties":{"targetAgentId":{"$ref":"#/components/schemas/ResourceId"},"headers":{"type":"object","nullable":true,"additionalProperties":{"type":"string"}},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["targetAgentId"]},"SubAgentTeamAgentRelationUpdate":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/ResourceId"},"subAgentId":{"$ref":"#/components/schemas/ResourceId"},"targetAgentId":{"$ref":"#/components/schemas/ResourceId"},"headers":{"type":"object","nullable":true,"additionalProperties":{"type":"string"}},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}}},"Agent":{"type":"object","properties":{"id":{"type":"string","maxLength":256},"name":{"type":"string","maxLength":256},"description":{"type":"string","nullable":true},"defaultSubAgentId":{"type":"string","nullable":true,"maxLength":256},"contextConfigId":{"type":"string","nullable":true,"maxLength":256},"models":{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"nullable":true},{"type":"object","additionalProperties":{"nullable":true}},{"type":"array","items":{"nullable":true}},{"nullable":true}]},"statusUpdates":{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"nullable":true},{"type":"object","additionalProperties":{"nullable":true}},{"type":"array","items":{"nullable":true}},{"nullable":true}]},"prompt":{"type":"string","nullable":true},"stopWhen":{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"nullable":true},{"type":"object","additionalProperties":{"nullable":true}},{"type":"array","items":{"nullable":true}},{"nullable":true}]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","name","description","defaultSubAgentId","contextConfigId","models","statusUpdates","prompt","stopWhen","createdAt","updatedAt"]},"AgentListResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Agent"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["data","pagination"]},"AgentResponse":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Agent"}},"required":["data"]},"RelatedAgentInfo":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"description":{"type":"string","nullable":true}},"required":["id","name","description"]},"RelatedAgentInfoListResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/RelatedAgentInfo"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["data","pagination"]},"NameSchema":{"type":"string","minLength":1,"maxLength":256},"DescriptionSchema":{"type":"string","nullable":true},"StatusComponent":{"type":"object","properties":{"type":{"type":"string"},"description":{"type":"string"},"detailsSchema":{"type":"object","properties":{"type":{"type":"string","enum":["object"]},"properties":{"type":"object","additionalProperties":{"nullable":true}},"required":{"type":"array","items":{"type":"string"}}},"required":["type","properties"]}},"required":["type"]},"StatusUpdate":{"type":"object","properties":{"enabled":{"type":"boolean"},"numEvents":{"type":"number","minimum":1,"maximum":100},"timeInSeconds":{"type":"number","minimum":1,"maximum":600},"prompt":{"type":"string","maxLength":2000},"statusComponents":{"type":"array","items":{"$ref":"#/components/schemas/StatusComponent"}}}},"AgentStopWhen":{"type":"object","properties":{"transferCountIs":{"type":"number","minimum":1,"maximum":1000,"description":"The maximum number of transfers to trigger the stop condition."}}},"CanUseItem":{"type":"object","properties":{"agentToolRelationId":{"type":"string"},"toolId":{"type":"string"},"toolSelection":{"type":"array","nullable":true,"items":{"type":"string"}},"headers":{"type":"object","nullable":true,"additionalProperties":{"type":"string"}},"toolPolicies":{"type":"object","nullable":true,"additionalProperties":{"type":"object","properties":{"needsApproval":{"type":"boolean"}}}}},"required":["toolId"]},"CanDelegateToExternalAgentInsert":{"type":"object","properties":{"externalAgentId":{"type":"string"},"subAgentExternalAgentRelationId":{"type":"string"},"headers":{"type":"object","nullable":true,"additionalProperties":{"type":"string"}}},"required":["externalAgentId"]},"CanDelegateToTeamAgentInsert":{"type":"object","properties":{"agentId":{"type":"string"},"subAgentTeamAgentRelationId":{"type":"string"},"headers":{"type":"object","nullable":true,"additionalProperties":{"type":"string"}}},"required":["agentId"]},"FullAgentAgentInsert":{"allOf":[{"$ref":"#/components/schemas/SubAgentCreate"},{"type":"object","properties":{"prompt":{"type":"string"},"type":{"type":"string","enum":["internal"]},"canUse":{"type":"array","items":{"$ref":"#/components/schemas/CanUseItem"}},"dataComponents":{"type":"array","items":{"type":"string"}},"artifactComponents":{"type":"array","items":{"type":"string"}},"skills":{"type":"array","items":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/ResourceId"},"index":{"type":"integer","minimum":0},"alwaysLoaded":{"type":"boolean"}},"required":["id","index"],"additionalProperties":false}},"canTransferTo":{"type":"array","items":{"type":"string"}},"canDelegateTo":{"type":"array","items":{"anyOf":[{"type":"string"},{"$ref":"#/components/schemas/CanDelegateToExternalAgentInsert"},{"$ref":"#/components/schemas/CanDelegateToTeamAgentInsert"}]}}},"required":["type","canUse"]}]},"ToolCreate":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/ResourceId"},"name":{"type":"string","maxLength":256},"description":{"type":"string","nullable":true},"config":{"type":"object","properties":{"type":{"type":"string","enum":["mcp"]},"mcp":{"type":"object","properties":{"server":{"type":"object","properties":{"url":{"type":"string","format":"uri"}},"required":["url"]},"transport":{"type":"object","properties":{"type":{"type":"string","enum":["streamable_http","sse"]},"requestInit":{"type":"object","additionalProperties":{"nullable":true}},"eventSourceInit":{"type":"object","additionalProperties":{"nullable":true}},"reconnectionOptions":{"type":"object","description":"Reconnection options for streamable HTTP transport"},"sessionId":{"type":"string"}},"required":["type"]},"activeTools":{"type":"array","items":{"type":"string"}},"toolOverrides":{"type":"object","additionalProperties":{"type":"object","properties":{"displayName":{"type":"string"},"description":{"type":"string"},"schema":{"nullable":true},"transformation":{"anyOf":[{"type":"string"},{"type":"object","additionalProperties":{"type":"string"}}]}}}},"prompt":{"type":"string"}},"required":["server"]}},"required":["type","mcp"]},"credentialReferenceId":{"type":"string","nullable":true,"maxLength":256},"credentialScope":{"type":"string","maxLength":50},"headers":{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"nullable":true},{"type":"object","additionalProperties":{"nullable":true}},{"type":"array","items":{"nullable":true}},{"nullable":true}]},"imageUrl":{"type":"string"},"capabilities":{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"nullable":true},{"type":"object","additionalProperties":{"nullable":true}},{"type":"array","items":{"nullable":true}},{"nullable":true}]},"lastError":{"type":"string","nullable":true},"isWorkApp":{"type":"boolean"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","name","config"]},"ExternalAgentCreate":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/ResourceId"},"name":{"type":"string","maxLength":256},"description":{"type":"string","nullable":true},"baseUrl":{"type":"string"},"credentialReferenceId":{"type":"string","nullable":true,"maxLength":256},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","name","baseUrl"]},"TeamAgent":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"}},"required":["id","name","description"]},"FunctionToolCreate":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/ResourceId"},"name":{"type":"string","maxLength":256},"description":{"type":"string","nullable":true},"functionId":{"type":"string","maxLength":256},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","name","functionId"]},"FunctionCreate":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/ResourceId"},"inputSchema":{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"nullable":true},{"type":"object","additionalProperties":{"nullable":true}},{"type":"array","items":{"nullable":true}},{"nullable":true}]},"executeCode":{"type":"string"},"dependencies":{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"nullable":true},{"type":"object","additionalProperties":{"nullable":true}},{"type":"array","items":{"nullable":true}},{"nullable":true}]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","executeCode"]},"TriggerOutputTransform":{"type":"object","nullable":true,"properties":{"jmespath":{"type":"string","maxLength":1000,"description":"JMESPath expression (max 1000 chars). Valid: \"data.items[0].name\", \"results[?status=='active']\", \"keys(@)\". Invalid: \"${...}\" (template injection), \"eval\" calls, \"constructor\", \"__proto__\"."},"objectTransformation":{"type":"object","additionalProperties":{"type":"string"},"description":"Object transformation mapping"}}},"TriggerAuthenticationInput":{"type":"object","nullable":true,"properties":{"headers":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","minLength":1,"description":"Header name (e.g., X-API-Key, Authorization)"},"value":{"type":"string","minLength":1,"description":"Expected header value (plaintext)"}},"required":["name","value"]},"description":"Array of headers to validate on incoming requests"}}},"SignatureSource":{"type":"object","properties":{"source":{"type":"string","enum":["header","query","body"],"description":"Location of the signature in the incoming request"},"key":{"type":"string","description":"Key name for the signature (header name, query param, or JMESPath)"},"prefix":{"type":"string","description":"Optional prefix to strip from signature value (e.g., \"sha256=\", \"v0=\")"},"regex":{"type":"string","description":"Optional regex pattern to extract signature from value (first capture group used)"}},"required":["source","key"],"description":"Configuration for extracting the signature"},"SignedComponent":{"type":"object","properties":{"source":{"type":"string","enum":["header","body","literal"],"description":"Source of the component: header value, body via JMESPath, or literal string"},"key":{"type":"string","description":"Key for header name or JMESPath expression (required for header/body sources)"},"value":{"type":"string","description":"Literal string value (required for literal source)"},"regex":{"type":"string","description":"Optional regex pattern to extract from component value (first capture group)"},"required":{"type":"boolean","default":true,"description":"If false, missing component results in empty string instead of error"}},"required":["source"]},"ComponentJoin":{"type":"object","properties":{"strategy":{"type":"string","enum":["concatenate"],"description":"Strategy for joining components"},"separator":{"type":"string","description":"String to insert between joined components"}},"required":["strategy","separator"],"description":"How to join signed components"},"SignatureValidationOptions":{"type":"object","properties":{"headerCaseSensitive":{"type":"boolean","default":false,"description":"If true, header names are matched case-sensitively"},"allowEmptyBody":{"type":"boolean","default":true,"description":"If true, allow empty request body for verification"},"normalizeUnicode":{"type":"boolean","default":false,"description":"If true, normalize Unicode strings to NFC form before signing"}},"description":"Advanced validation options"},"TriggerCreate":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/ResourceId"},"name":{"type":"string","minLength":1,"description":"Trigger name"},"description":{"type":"string","nullable":true,"description":"Trigger description"},"enabled":{"type":"boolean","default":true,"description":"Whether the trigger is enabled"},"inputSchema":{"type":"object","nullable":true,"additionalProperties":{"nullable":true},"description":"JSON Schema for input validation"},"outputTransform":{"$ref":"#/components/schemas/TriggerOutputTransform"},"messageTemplate":{"type":"string","nullable":true,"minLength":1,"description":"Message template with {{placeholder}} syntax"},"authentication":{"$ref":"#/components/schemas/TriggerAuthenticationInput"},"signingSecretCredentialReferenceId":{"type":"string","nullable":true,"description":"Reference to credential containing signing secret"},"signatureVerification":{"type":"object","nullable":true,"properties":{"algorithm":{"type":"string","enum":["sha256","sha512","sha384","sha1","md5"],"description":"HMAC algorithm to use for signature verification"},"encoding":{"type":"string","enum":["hex","base64"],"description":"Encoding format of the signature (hex or base64)"},"signature":{"$ref":"#/components/schemas/SignatureSource"},"signedComponents":{"type":"array","items":{"$ref":"#/components/schemas/SignedComponent"},"minItems":1,"description":"Array of components that are signed (order matters)"},"componentJoin":{"$ref":"#/components/schemas/ComponentJoin"},"validation":{"$ref":"#/components/schemas/SignatureValidationOptions"}},"required":["algorithm","encoding","signature","signedComponents","componentJoin"],"description":"Configuration for webhook signature verification"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["name"]},"CronExpression":{"type":"string","nullable":true,"pattern":"^(\\*(?:\\/\\d+)?|[\\d,-]+(?:\\/\\d+)?)\\s+(\\*(?:\\/\\d+)?|[\\d,-]+(?:\\/\\d+)?)\\s+(\\*(?:\\/\\d+)?|[\\d,-]+(?:\\/\\d+)?)\\s+(\\*(?:\\/\\d+)?|[\\d,-]+(?:\\/\\d+)?)\\s+(\\*(?:\\/\\d+)?|[\\d,\\-A-Za-z]+(?:\\/\\d+)?)$","description":"Cron expression in standard 5-field format (minute hour day month weekday)"},"ScheduledTriggerInsertBase":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/ResourceId"},"name":{"type":"string","minLength":1,"description":"Scheduled trigger name"},"description":{"type":"string","nullable":true,"description":"Scheduled trigger description"},"enabled":{"type":"boolean","default":true,"description":"Whether the trigger is enabled"},"cronExpression":{"$ref":"#/components/schemas/CronExpression"},"cronTimezone":{"type":"string","nullable":true,"maxLength":64,"default":"UTC","description":"IANA timezone for cron expression (e.g., America/New_York, Europe/London)"},"runAt":{"type":"string","nullable":true,"format":"date-time","description":"One-time execution timestamp"},"payload":{"type":"object","nullable":true,"additionalProperties":{"nullable":true},"description":"Static payload for agent execution"},"messageTemplate":{"type":"string","nullable":true,"minLength":1,"description":"Message template with {{placeholder}} syntax"},"maxRetries":{"type":"integer","minimum":0,"maximum":10,"default":1},"retryDelaySeconds":{"type":"integer","minimum":10,"maximum":3600,"default":60},"timeoutSeconds":{"type":"integer","minimum":30,"maximum":780,"default":780},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["name"]},"ContextConfigCreate":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/ResourceId"},"headersSchema":{"type":"object","description":"JSON Schema for validating request headers"},"contextVariables":{"type":"object","description":"Context variables configuration with fetch definitions"}}},"AgentCreate":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/ResourceId"},"name":{"$ref":"#/components/schemas/NameSchema"},"description":{"$ref":"#/components/schemas/DescriptionSchema"},"defaultSubAgentId":{"type":"string","nullable":true,"minLength":1,"maxLength":255,"pattern":"^[a-zA-Z0-9\\-_.]+$","description":"ID of the default sub-agent that handles initial user messages. Required at runtime but nullable on creation to avoid circular FK dependency. Workflow: 1) POST Agent (without defaultSubAgentId), 2) POST SubAgent, 3) PATCH Agent with defaultSubAgentId.","example":"my-default-subagent"},"contextConfigId":{"type":"string","nullable":true,"maxLength":256},"models":{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"nullable":true},{"type":"object","additionalProperties":{"nullable":true}},{"type":"array","items":{"nullable":true}},{"nullable":true}]},"statusUpdates":{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"nullable":true},{"type":"object","additionalProperties":{"nullable":true}},{"type":"array","items":{"nullable":true}},{"nullable":true}]},"prompt":{"type":"string","nullable":true},"stopWhen":{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"nullable":true},{"type":"object","additionalProperties":{"nullable":true}},{"type":"array","items":{"nullable":true}},{"nullable":true}]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","name"]},"AgentWithinContextOfProject":{"allOf":[{"$ref":"#/components/schemas/AgentCreate"},{"type":"object","properties":{"models":{"$ref":"#/components/schemas/Model"},"statusUpdates":{"$ref":"#/components/schemas/StatusUpdate"},"prompt":{"type":"string","maxLength":5000},"stopWhen":{"$ref":"#/components/schemas/AgentStopWhen"},"subAgents":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/FullAgentAgentInsert"}},"tools":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/ToolCreate"}},"externalAgents":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/ExternalAgentCreate"}},"teamAgents":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/TeamAgent"}},"functionTools":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/FunctionToolCreate"}},"functions":{"type":"object","additionalProperties":{"allOf":[{"$ref":"#/components/schemas/FunctionCreate"},{"type":"object","properties":{"executeCode":{"type":"string","minLength":1}}}]}},"triggers":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/TriggerCreate"}},"scheduledTriggers":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/ScheduledTriggerInsertBase"}},"contextConfig":{"$ref":"#/components/schemas/ContextConfigCreate"}},"required":["subAgents"]}]},"AgentWithinContextOfProjectResponse":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/AgentWithinContextOfProject"}},"required":["data"]},"AgentUpdate":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/ResourceId"},"name":{"$ref":"#/components/schemas/NameSchema"},"description":{"$ref":"#/components/schemas/DescriptionSchema"},"defaultSubAgentId":{"type":"string","nullable":true,"minLength":1,"maxLength":255,"pattern":"^[a-zA-Z0-9\\-_.]+$","description":"ID of the default sub-agent that handles initial user messages. Required at runtime but nullable on creation to avoid circular FK dependency. Workflow: 1) POST Agent (without defaultSubAgentId), 2) POST SubAgent, 3) PATCH Agent with defaultSubAgentId.","example":"my-default-subagent"},"contextConfigId":{"type":"string","nullable":true,"maxLength":256},"models":{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"nullable":true},{"type":"object","additionalProperties":{"nullable":true}},{"type":"array","items":{"nullable":true}},{"nullable":true}]},"statusUpdates":{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"nullable":true},{"type":"object","additionalProperties":{"nullable":true}},{"type":"array","items":{"nullable":true}},{"nullable":true}]},"prompt":{"type":"string","nullable":true},"stopWhen":{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"nullable":true},{"type":"object","additionalProperties":{"nullable":true}},{"type":"array","items":{"nullable":true}},{"nullable":true}]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}}},"SubAgentToolRelation":{"type":"object","properties":{"id":{"type":"string","maxLength":256},"subAgentId":{"type":"string","maxLength":256},"toolId":{"type":"string","maxLength":256},"selectedTools":{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"nullable":true},{"type":"object","additionalProperties":{"nullable":true}},{"type":"array","items":{"nullable":true}},{"nullable":true}]},"headers":{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"nullable":true},{"type":"object","additionalProperties":{"nullable":true}},{"type":"array","items":{"nullable":true}},{"nullable":true}]},"toolPolicies":{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"nullable":true},{"type":"object","additionalProperties":{"nullable":true}},{"type":"array","items":{"nullable":true}},{"nullable":true}]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","subAgentId","toolId","selectedTools","headers","toolPolicies","createdAt","updatedAt"]},"SubAgentToolRelationListResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/SubAgentToolRelation"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["data","pagination"]},"SubAgentToolRelationResponse":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/SubAgentToolRelation"}},"required":["data"]},"SubAgentToolRelationCreate":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/ResourceId"},"subAgentId":{"$ref":"#/components/schemas/ResourceId"},"toolId":{"$ref":"#/components/schemas/ResourceId"},"selectedTools":{"type":"array","nullable":true,"items":{"type":"string"}},"headers":{"type":"object","nullable":true,"additionalProperties":{"type":"string"}},"toolPolicies":{"type":"object","nullable":true,"additionalProperties":{"type":"object","properties":{"needsApproval":{"type":"boolean"}}}},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","subAgentId","toolId"]},"SubAgentToolRelationUpdate":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/ResourceId"},"subAgentId":{"$ref":"#/components/schemas/ResourceId"},"toolId":{"$ref":"#/components/schemas/ResourceId"},"selectedTools":{"type":"array","nullable":true,"items":{"type":"string"}},"headers":{"type":"object","nullable":true,"additionalProperties":{"type":"string"}},"toolPolicies":{"type":"object","nullable":true,"additionalProperties":{"type":"object","properties":{"needsApproval":{"type":"boolean"}}}},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}}},"ArtifactComponent":{"type":"object","properties":{"id":{"type":"string","maxLength":256},"name":{"type":"string","maxLength":256},"description":{"type":"string","nullable":true},"props":{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"nullable":true},{"type":"object","additionalProperties":{"nullable":true}},{"type":"array","items":{"nullable":true}},{"nullable":true}]},"render":{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"nullable":true},{"type":"object","additionalProperties":{"nullable":true}},{"type":"array","items":{"nullable":true}},{"nullable":true}]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","name","description","props","render","createdAt","updatedAt"]},"ArtifactComponentArrayResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/ArtifactComponent"}}},"required":["data"]},"ComponentAssociation":{"type":"object","properties":{"subAgentId":{"type":"string"},"createdAt":{"type":"string"}},"required":["subAgentId","createdAt"]},"ComponentAssociationListResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/ComponentAssociation"}}},"required":["data"]},"SubAgentArtifactComponentResponse":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string","maxLength":256},"subAgentId":{"type":"string","maxLength":256},"artifactComponentId":{"type":"string","maxLength":256},"createdAt":{"type":"string"}},"required":["id","subAgentId","artifactComponentId","createdAt"]}},"required":["data"]},"RemovedResponse":{"type":"object","properties":{"message":{"type":"string"},"removed":{"type":"boolean"}},"required":["message","removed"]},"ExistsResponse":{"type":"object","properties":{"exists":{"type":"boolean"}},"required":["exists"]},"DataComponent":{"type":"object","properties":{"id":{"type":"string","maxLength":256},"name":{"type":"string","maxLength":256},"description":{"type":"string","nullable":true},"props":{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"nullable":true},{"type":"object","additionalProperties":{"nullable":true}},{"type":"array","items":{"nullable":true}},{"nullable":true}]},"render":{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"nullable":true},{"type":"object","additionalProperties":{"nullable":true}},{"type":"array","items":{"nullable":true}},{"nullable":true}]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","name","description","props","render","createdAt","updatedAt"]},"DataComponentArrayResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/DataComponent"}}},"required":["data"]},"SubAgentDataComponentResponse":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string","maxLength":256},"subAgentId":{"type":"string","maxLength":256},"dataComponentId":{"type":"string","maxLength":256},"createdAt":{"type":"string"}},"required":["id","subAgentId","dataComponentId","createdAt"]}},"required":["data"]},"FunctionTool":{"type":"object","properties":{"id":{"type":"string","maxLength":256},"agentId":{"type":"string","maxLength":256},"name":{"type":"string","maxLength":256},"description":{"type":"string","nullable":true},"functionId":{"type":"string","maxLength":256},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"relationshipId":{"type":"string"}},"required":["id","agentId","name","description","functionId","createdAt","updatedAt"]},"FunctionToolListResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/FunctionTool"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["data","pagination"]},"SubAgentFunctionToolRelation":{"type":"object","properties":{"id":{"type":"string","maxLength":256},"subAgentId":{"type":"string","maxLength":256},"functionToolId":{"type":"string","maxLength":256},"toolPolicies":{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"nullable":true},{"type":"object","additionalProperties":{"nullable":true}},{"type":"array","items":{"nullable":true}},{"nullable":true}]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","subAgentId","functionToolId","toolPolicies","createdAt","updatedAt"]},"SubAgentFunctionToolRelationResponse":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/SubAgentFunctionToolRelation"}},"required":["data"]},"SubAgentFunctionToolRelationCreate":{"type":"object","properties":{"subAgentId":{"$ref":"#/components/schemas/ResourceId"},"functionToolId":{"$ref":"#/components/schemas/ResourceId"},"toolPolicies":{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"nullable":true},{"type":"object","additionalProperties":{"nullable":true}},{"type":"array","items":{"nullable":true}},{"nullable":true}]}},"required":["subAgentId","functionToolId"]},"StringRecord":{"type":"object","nullable":true,"additionalProperties":{"type":"string"}},"Skill":{"type":"object","properties":{"id":{"type":"string","maxLength":64},"name":{"type":"string","maxLength":64},"description":{"type":"string"},"content":{"type":"string"},"metadata":{"$ref":"#/components/schemas/StringRecord"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","name","description","content","metadata","createdAt","updatedAt"]},"SkillListResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Skill"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["data","pagination"]},"SkillResponse":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Skill"}},"required":["data"]},"SkillCreate":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":64,"pattern":"^[a-z0-9-]+$"},"description":{"type":"string","minLength":1,"maxLength":1024},"content":{"type":"string","minLength":1},"metadata":{"allOf":[{"$ref":"#/components/schemas/StringRecord"},{"default":null}]}},"required":["name","description","content"]},"SkillUpdate":{"type":"object","properties":{"description":{"type":"string","minLength":1,"maxLength":1024},"content":{"type":"string","minLength":1},"metadata":{"allOf":[{"$ref":"#/components/schemas/StringRecord"},{"default":null}]}}},"SubAgentSkillWithIndex":{"allOf":[{"$ref":"#/components/schemas/Skill"},{"type":"object","properties":{"subAgentSkillId":{"$ref":"#/components/schemas/ResourceId"},"subAgentId":{"$ref":"#/components/schemas/ResourceId"},"index":{"type":"integer","minimum":0},"alwaysLoaded":{"type":"boolean"}},"required":["subAgentSkillId","subAgentId","index","alwaysLoaded"]}]},"SubAgentSkillWithIndexArrayResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/SubAgentSkillWithIndex"}}},"required":["data"]},"SubAgentSkill":{"type":"object","properties":{"id":{"type":"string","maxLength":256},"subAgentId":{"type":"string","maxLength":256},"skillId":{"type":"string","maxLength":64},"index":{"type":"integer","minimum":0},"alwaysLoaded":{"type":"boolean"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","subAgentId","skillId","index","alwaysLoaded","createdAt","updatedAt"]},"SubAgentSkillResponse":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/SubAgentSkill"}},"required":["data"]},"SubAgentSkillCreate":{"type":"object","properties":{"agentId":{"type":"string","maxLength":256},"subAgentId":{"$ref":"#/components/schemas/ResourceId"},"skillId":{"$ref":"#/components/schemas/ResourceId"},"index":{"type":"integer","minimum":0},"alwaysLoaded":{"type":"boolean","default":false}},"required":["agentId","subAgentId","skillId","index"]},"ArtifactComponentListResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/ArtifactComponent"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["data","pagination"]},"ArtifactComponentResponse":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/ArtifactComponent"}},"required":["data"]},"JsonSchemaPropertyDescription":{"type":"string","minLength":1},"JsonSchemaPropertySchema":{"oneOf":[{"type":"object","properties":{"type":{"type":"string","enum":["string","number","integer","boolean","null"]},"description":{"$ref":"#/components/schemas/JsonSchemaPropertyDescription"}},"required":["type","description"],"additionalProperties":{"nullable":true}},{"type":"object","properties":{"type":{"type":"string","enum":["array"]},"description":{"$ref":"#/components/schemas/JsonSchemaPropertyDescription"},"items":{"anyOf":[{"type":"object","$ref":"#/components/schemas/JsonSchemaPropertySchema"},{"type":"array","items":{"type":"object","$ref":"#/components/schemas/JsonSchemaPropertySchema"}}]}},"required":["type","description"],"additionalProperties":{"nullable":true}},{"type":"object","properties":{"type":{"type":"string","enum":["object"]},"description":{"$ref":"#/components/schemas/JsonSchemaPropertyDescription"},"properties":{"type":"object","additionalProperties":{"type":"object","$ref":"#/components/schemas/JsonSchemaPropertySchema"}}},"required":["type","description"],"additionalProperties":{"nullable":true}}]},"JsonSchemaForLlmSchema":{"type":"object","nullable":true,"properties":{"type":{"type":"string","enum":["object"]},"properties":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/JsonSchemaPropertySchema"}},"required":{"type":"array","items":{"type":"string"},"default":[]},"additionalProperties":{"type":"boolean"},"description":{"type":"string"}},"required":["type","properties"],"additionalProperties":{"nullable":true}},"ArtifactComponentCreate":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/ResourceId"},"name":{"$ref":"#/components/schemas/NameSchema"},"description":{"$ref":"#/components/schemas/DescriptionSchema"},"props":{"$ref":"#/components/schemas/JsonSchemaForLlmSchema"},"render":{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"nullable":true},{"type":"object","additionalProperties":{"nullable":true}},{"type":"array","items":{"nullable":true}},{"nullable":true}]}},"required":["id","name","props"]},"ArtifactComponentUpdate":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/ResourceId"},"name":{"type":"string","maxLength":256},"description":{"type":"string","nullable":true},"props":{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"nullable":true},{"type":"object","additionalProperties":{"nullable":true}},{"type":"array","items":{"nullable":true}},{"nullable":true}]},"render":{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"nullable":true},{"type":"object","additionalProperties":{"nullable":true}},{"type":"array","items":{"nullable":true}},{"nullable":true}]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}}},"ContextConfig":{"type":"object","properties":{"id":{"type":"string","maxLength":256},"headersSchema":{"type":"object","description":"JSON Schema for validating request headers"},"contextVariables":{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"nullable":true},{"type":"object","additionalProperties":{"nullable":true}},{"type":"array","items":{"nullable":true}},{"nullable":true}]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","contextVariables","createdAt","updatedAt"]},"ContextConfigListResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/ContextConfig"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["data","pagination"]},"ContextConfigResponse":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/ContextConfig"}},"required":["data"]},"ContextConfigUpdate":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/ResourceId"},"headersSchema":{"type":"object","description":"JSON Schema for validating request headers"},"contextVariables":{"type":"object","description":"Context variables configuration with fetch definitions"}}},"ConversationWithFormattedMessagesResponse":{"type":"object","properties":{"data":{"type":"object","properties":{"messages":{"type":"array","items":{"nullable":true}},"formatted":{"type":"object","properties":{"llmContext":{"type":"string"}},"required":["llmContext"]}},"required":["messages","formatted"]}},"required":["data"]},"CredentialReference":{"type":"object","properties":{"id":{"type":"string","maxLength":256},"name":{"type":"string","maxLength":256},"type":{"type":"string","enum":["memory","keychain","nango"]},"credentialStoreId":{"type":"string","maxLength":256},"retrievalParams":{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"nullable":true},{"type":"object","additionalProperties":{"nullable":true}},{"type":"array","items":{"nullable":true}},{"nullable":true}]},"toolId":{"type":"string","nullable":true,"maxLength":256},"userId":{"type":"string","nullable":true,"maxLength":256},"createdBy":{"type":"string","nullable":true,"maxLength":256},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"tools":{"type":"array","items":{"type":"object","properties":{"tenantId":{"type":"string","maxLength":256},"id":{"type":"string","maxLength":256},"projectId":{"type":"string","maxLength":256},"name":{"type":"string","maxLength":256},"description":{"type":"string","nullable":true},"config":{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"nullable":true},{"type":"object","additionalProperties":{"nullable":true}},{"type":"array","items":{"nullable":true}},{"nullable":true}]},"credentialReferenceId":{"type":"string","nullable":true,"maxLength":256},"credentialScope":{"type":"string","maxLength":50},"headers":{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"nullable":true},{"type":"object","additionalProperties":{"nullable":true}},{"type":"array","items":{"nullable":true}},{"nullable":true}]},"imageUrl":{"type":"string","nullable":true},"capabilities":{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"nullable":true},{"type":"object","additionalProperties":{"nullable":true}},{"type":"array","items":{"nullable":true}},{"nullable":true}]},"lastError":{"type":"string","nullable":true},"isWorkApp":{"type":"boolean"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["tenantId","id","projectId","name","description","config","credentialReferenceId","credentialScope","headers","imageUrl","capabilities","lastError","isWorkApp","createdAt","updatedAt"]}},"externalAgents":{"type":"array","items":{"type":"object","properties":{"tenantId":{"type":"string","maxLength":256},"id":{"type":"string","maxLength":256},"projectId":{"type":"string","maxLength":256},"name":{"type":"string","maxLength":256},"description":{"type":"string","nullable":true},"baseUrl":{"type":"string"},"credentialReferenceId":{"type":"string","nullable":true},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["tenantId","id","projectId","name","description","baseUrl","createdAt","updatedAt"]}}},"required":["id","name","type","credentialStoreId","retrievalParams","toolId","userId","createdBy","createdAt","updatedAt"]},"CredentialReferenceListResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/CredentialReference"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["data","pagination"]},"CredentialReferenceResponse":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/CredentialReference"}},"required":["data"]},"CredentialReferenceCreate":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/ResourceId"},"name":{"type":"string","maxLength":256},"type":{"type":"string","enum":["memory","keychain","nango"]},"credentialStoreId":{"$ref":"#/components/schemas/ResourceId"},"retrievalParams":{"type":"object","nullable":true,"additionalProperties":{"nullable":true}},"toolId":{"type":"string","nullable":true,"maxLength":256},"userId":{"type":"string","nullable":true,"maxLength":256},"createdBy":{"type":"string","nullable":true,"maxLength":256},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","name","type","credentialStoreId"]},"CredentialReferenceUpdate":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/ResourceId"},"name":{"type":"string","maxLength":256},"type":{"type":"string","enum":["memory","keychain","nango"]},"credentialStoreId":{"$ref":"#/components/schemas/ResourceId"},"retrievalParams":{"type":"object","nullable":true,"additionalProperties":{"nullable":true}},"toolId":{"type":"string","nullable":true,"maxLength":256},"userId":{"type":"string","nullable":true,"maxLength":256},"createdBy":{"type":"string","nullable":true,"maxLength":256},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}}},"CredentialStore":{"type":"object","properties":{"id":{"type":"string","description":"Unique identifier of the credential store"},"type":{"type":"string","enum":["memory","keychain","nango"]},"available":{"type":"boolean","description":"Whether the store is functional and ready to use"},"reason":{"type":"string","nullable":true,"description":"Reason why store is not available, if applicable"}},"required":["id","type","available","reason"]},"CredentialStoreListResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/CredentialStore"},"description":"List of credential stores"}},"required":["data"]},"CreateCredentialInStoreResponse":{"type":"object","properties":{"data":{"type":"object","properties":{"key":{"type":"string","description":"The credential key"},"storeId":{"type":"string","description":"The store ID where credential was created"},"createdAt":{"type":"string","description":"ISO timestamp of creation"}},"required":["key","storeId","createdAt"]}},"required":["data"]},"CreateCredentialInStoreRequest":{"type":"object","properties":{"key":{"type":"string","description":"The credential key"},"value":{"type":"string","description":"The credential value"},"metadata":{"type":"object","nullable":true,"additionalProperties":{"type":"string"},"description":"The metadata for the credential"}},"required":["key","value"]},"DataComponentListResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/DataComponent"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["data","pagination"]},"DataComponentResponse":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/DataComponent"}},"required":["data"]},"DataComponentCreate":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/ResourceId"},"name":{"$ref":"#/components/schemas/NameSchema"},"description":{"$ref":"#/components/schemas/DescriptionSchema"},"props":{"$ref":"#/components/schemas/JsonSchemaForLlmSchema"},"render":{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"nullable":true},{"type":"object","additionalProperties":{"nullable":true}},{"type":"array","items":{"nullable":true}},{"nullable":true}]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","name","props"]},"DataComponentUpdate":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/ResourceId"},"name":{"$ref":"#/components/schemas/NameSchema"},"description":{"$ref":"#/components/schemas/DescriptionSchema"},"props":{"$ref":"#/components/schemas/JsonSchemaForLlmSchema"},"render":{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"nullable":true},{"type":"object","additionalProperties":{"nullable":true}},{"type":"array","items":{"nullable":true}},{"nullable":true}]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["name","props"]},"ExternalAgent":{"type":"object","properties":{"id":{"type":"string","maxLength":256},"name":{"type":"string","maxLength":256},"description":{"type":"string","nullable":true},"baseUrl":{"type":"string"},"credentialReferenceId":{"type":"string","nullable":true},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","name","description","baseUrl","createdAt","updatedAt"]},"ExternalAgentListResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/ExternalAgent"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["data","pagination"]},"ExternalAgentResponse":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/ExternalAgent"}},"required":["data"]},"ExternalAgentUpdate":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/ResourceId"},"name":{"type":"string","maxLength":256},"description":{"type":"string","nullable":true},"baseUrl":{"type":"string"},"credentialReferenceId":{"type":"string","nullable":true,"maxLength":256},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}}},"FunctionToolResponse":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/FunctionTool"}},"required":["data"]},"FunctionToolUpdate":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/ResourceId"},"agentId":{"type":"string","maxLength":256},"name":{"type":"string","maxLength":256},"description":{"type":"string","nullable":true},"functionId":{"type":"string","maxLength":256},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}}},"Function":{"type":"object","properties":{"id":{"type":"string","maxLength":256},"inputSchema":{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"nullable":true},{"type":"object","additionalProperties":{"nullable":true}},{"type":"array","items":{"nullable":true}},{"nullable":true}]},"executeCode":{"type":"string"},"dependencies":{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"nullable":true},{"type":"object","additionalProperties":{"nullable":true}},{"type":"array","items":{"nullable":true}},{"nullable":true}]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","inputSchema","executeCode","dependencies","createdAt","updatedAt"]},"FunctionListResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Function"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["data","pagination"]},"FunctionResponse":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Function"}},"required":["data"]},"FunctionUpdate":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/ResourceId"},"inputSchema":{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"nullable":true},{"type":"object","additionalProperties":{"nullable":true}},{"type":"array","items":{"nullable":true}},{"nullable":true}]},"executeCode":{"type":"string"},"dependencies":{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"nullable":true},{"type":"object","additionalProperties":{"nullable":true}},{"type":"array","items":{"nullable":true}},{"nullable":true}]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}}},"McpTool":{"type":"object","properties":{"tenantId":{"type":"string","maxLength":256},"id":{"$ref":"#/components/schemas/ResourceId"},"projectId":{"type":"string","maxLength":256},"name":{"type":"string","maxLength":256},"description":{"type":"string","nullable":true},"config":{"type":"object","properties":{"type":{"type":"string","enum":["mcp"]},"mcp":{"type":"object","properties":{"server":{"type":"object","properties":{"url":{"type":"string","format":"uri"}},"required":["url"]},"transport":{"type":"object","properties":{"type":{"type":"string","enum":["streamable_http","sse"]},"requestInit":{"type":"object","additionalProperties":{"nullable":true}},"eventSourceInit":{"type":"object","additionalProperties":{"nullable":true}},"reconnectionOptions":{"type":"object","description":"Reconnection options for streamable HTTP transport"},"sessionId":{"type":"string"}},"required":["type"]},"activeTools":{"type":"array","items":{"type":"string"}},"toolOverrides":{"type":"object","additionalProperties":{"type":"object","properties":{"displayName":{"type":"string"},"description":{"type":"string"},"schema":{"nullable":true},"transformation":{"anyOf":[{"type":"string"},{"type":"object","additionalProperties":{"type":"string"}}]}}}},"prompt":{"type":"string"}},"required":["server"]}},"required":["type","mcp"]},"credentialReferenceId":{"type":"string","nullable":true,"maxLength":256},"credentialScope":{"type":"string","maxLength":50},"headers":{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"nullable":true},{"type":"object","additionalProperties":{"nullable":true}},{"type":"array","items":{"nullable":true}},{"nullable":true}]},"imageUrl":{"type":"string"},"capabilities":{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"nullable":true},{"type":"object","additionalProperties":{"nullable":true}},{"type":"array","items":{"nullable":true}},{"nullable":true}]},"lastError":{"type":"string","nullable":true},"isWorkApp":{"type":"boolean"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"availableTools":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"},"inputSchema":{"type":"object","additionalProperties":{"nullable":true}}},"required":["name"]}},"status":{"type":"string","enum":["healthy","unhealthy","unknown","needs_auth","unavailable"],"default":"unknown"},"version":{"type":"string"},"expiresAt":{"type":"string"},"createdBy":{"type":"string"},"relationshipId":{"type":"string"}},"required":["tenantId","id","projectId","name","config"]},"McpToolListResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/McpTool"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["data","pagination"]},"McpToolResponse":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/McpTool"}},"required":["data"]},"ToolUpdate":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/ResourceId"},"name":{"type":"string","maxLength":256},"description":{"type":"string","nullable":true},"config":{"type":"object","properties":{"type":{"type":"string","enum":["mcp"]},"mcp":{"type":"object","properties":{"server":{"type":"object","properties":{"url":{"type":"string","format":"uri"}},"required":["url"]},"transport":{"type":"object","properties":{"type":{"type":"string","enum":["streamable_http","sse"]},"requestInit":{"type":"object","additionalProperties":{"nullable":true}},"eventSourceInit":{"type":"object","additionalProperties":{"nullable":true}},"reconnectionOptions":{"type":"object","description":"Reconnection options for streamable HTTP transport"},"sessionId":{"type":"string"}},"required":["type"]},"activeTools":{"type":"array","items":{"type":"string"}},"toolOverrides":{"type":"object","additionalProperties":{"type":"object","properties":{"displayName":{"type":"string"},"description":{"type":"string"},"schema":{"nullable":true},"transformation":{"anyOf":[{"type":"string"},{"type":"object","additionalProperties":{"type":"string"}}]}}}},"prompt":{"type":"string"}},"required":["server"]}},"required":["type","mcp"]},"credentialReferenceId":{"type":"string","nullable":true,"maxLength":256},"credentialScope":{"type":"string","maxLength":50},"headers":{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"nullable":true},{"type":"object","additionalProperties":{"nullable":true}},{"type":"array","items":{"nullable":true}},{"nullable":true}]},"imageUrl":{"type":"string"},"capabilities":{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"nullable":true},{"type":"object","additionalProperties":{"nullable":true}},{"type":"array","items":{"nullable":true}},{"nullable":true}]},"lastError":{"type":"string","nullable":true},"isWorkApp":{"type":"boolean"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}}},"ApiKey":{"type":"object","properties":{"id":{"type":"string","maxLength":256},"agentId":{"type":"string","maxLength":256},"publicId":{"type":"string","maxLength":256},"keyPrefix":{"type":"string","maxLength":256},"name":{"type":"string","nullable":true,"maxLength":256},"lastUsedAt":{"type":"string","nullable":true},"expiresAt":{"type":"string","nullable":true},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","agentId","publicId","keyPrefix","name","lastUsedAt","expiresAt","createdAt","updatedAt"]},"ApiKeyListResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/ApiKey"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["data","pagination"]},"ApiKeyResponse":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/ApiKey"}},"required":["data"]},"ApiKeyCreate":{"type":"object","properties":{"agentId":{"$ref":"#/components/schemas/ResourceId"},"name":{"type":"string","nullable":true,"maxLength":256},"expiresAt":{"type":"string","nullable":true},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["agentId"]},"ApiKeyUpdate":{"type":"object","properties":{"agentId":{"$ref":"#/components/schemas/ResourceId"},"name":{"type":"string","nullable":true,"maxLength":256},"lastUsedAt":{"type":"string","nullable":true},"expiresAt":{"type":"string","nullable":true},"updatedAt":{"type":"string"}}},"MCPCatalogListResponse":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"Unique identifier for the MCP server"},"name":{"type":"string","description":"Display name of the MCP server"},"url":{"type":"string","format":"uri","description":"URL endpoint for the MCP server"},"transport":{"type":"string","enum":["streamable_http","sse"],"description":"Transport protocol type"},"imageUrl":{"type":"string","format":"uri","description":"Logo/icon URL for the MCP server"},"isOpen":{"type":"boolean","description":"Whether the MCP server is open (doesn't require authentication)"},"category":{"type":"string","description":"Category of the MCP server (e.g., communication, project_management)"},"description":{"type":"string","description":"Brief description of what the MCP server does"},"thirdPartyConnectAccountUrl":{"type":"string","format":"uri","description":"URL to connect to the third party account"}},"required":["id","name","url","transport"]}}},"required":["data"]},"ThirdPartyMCPServerResponse":{"type":"object","properties":{"data":{"type":"object","nullable":true,"properties":{"id":{"type":"string","description":"Unique identifier for the MCP server"},"name":{"type":"string","description":"Display name of the MCP server"},"url":{"type":"string","format":"uri","description":"URL endpoint for the MCP server"},"transport":{"type":"string","enum":["streamable_http","sse"],"description":"Transport protocol type"},"imageUrl":{"type":"string","format":"uri","description":"Logo/icon URL for the MCP server"},"isOpen":{"type":"boolean","description":"Whether the MCP server is open (doesn't require authentication)"},"category":{"type":"string","description":"Category of the MCP server (e.g., communication, project_management)"},"description":{"type":"string","description":"Brief description of what the MCP server does"},"thirdPartyConnectAccountUrl":{"type":"string","format":"uri","description":"URL to connect to the third party account"}},"required":["id","name","url","transport"]}},"required":["data"]},"SignatureVerificationConfig":{"type":"object","nullable":true,"properties":{"algorithm":{"type":"string","enum":["sha256","sha512","sha384","sha1","md5"],"description":"HMAC algorithm to use for signature verification"},"encoding":{"type":"string","enum":["hex","base64"],"description":"Encoding format of the signature (hex or base64)"},"signature":{"$ref":"#/components/schemas/SignatureSource"},"signedComponents":{"type":"array","items":{"$ref":"#/components/schemas/SignedComponent"},"minItems":1,"description":"Array of components that are signed (order matters)"},"componentJoin":{"$ref":"#/components/schemas/ComponentJoin"},"validation":{"$ref":"#/components/schemas/SignatureValidationOptions"}},"required":["algorithm","encoding","signature","signedComponents","componentJoin"]},"Trigger":{"type":"object","properties":{"id":{"type":"string","maxLength":256},"name":{"type":"string","maxLength":256},"description":{"type":"string","nullable":true},"enabled":{"type":"boolean"},"inputSchema":{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"nullable":true},{"type":"object","additionalProperties":{"nullable":true}},{"type":"array","items":{"nullable":true}},{"nullable":true}]},"outputTransform":{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"nullable":true},{"type":"object","additionalProperties":{"nullable":true}},{"type":"array","items":{"nullable":true}},{"nullable":true}]},"messageTemplate":{"type":"string","nullable":true},"authentication":{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"nullable":true},{"type":"object","additionalProperties":{"nullable":true}},{"type":"array","items":{"nullable":true}},{"nullable":true}]},"signingSecretCredentialReferenceId":{"type":"string","nullable":true},"signatureVerification":{"$ref":"#/components/schemas/SignatureVerificationConfig"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","name","description","enabled","inputSchema","outputTransform","messageTemplate","authentication","createdAt","updatedAt"]},"TriggerWithWebhookUrl":{"allOf":[{"$ref":"#/components/schemas/Trigger"},{"type":"object","properties":{"webhookUrl":{"type":"string","description":"Fully qualified webhook URL for this trigger"}},"required":["webhookUrl"]}]},"TriggerWithWebhookUrlListResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/TriggerWithWebhookUrl"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["data","pagination"]},"TriggerWithWebhookUrlResponse":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/TriggerWithWebhookUrl"}},"required":["data"]},"TriggerUpdate":{"type":"object","properties":{"tenantId":{"type":"string","maxLength":256},"id":{"$ref":"#/components/schemas/ResourceId"},"projectId":{"type":"string","maxLength":256},"agentId":{"type":"string","maxLength":256},"name":{"type":"string","minLength":1,"description":"Trigger name"},"description":{"type":"string","nullable":true,"description":"Trigger description"},"enabled":{"type":"boolean","description":"Whether the trigger is enabled"},"inputSchema":{"type":"object","nullable":true,"additionalProperties":{"nullable":true},"description":"JSON Schema for input validation"},"outputTransform":{"$ref":"#/components/schemas/TriggerOutputTransform"},"messageTemplate":{"type":"string","nullable":true,"minLength":1,"description":"Message template with {{placeholder}} syntax"},"authentication":{"$ref":"#/components/schemas/TriggerAuthenticationInput"},"signingSecretCredentialReferenceId":{"type":"string","nullable":true,"description":"Reference to credential containing signing secret"},"signatureVerification":{"type":"object","nullable":true,"properties":{"algorithm":{"type":"string","enum":["sha256","sha512","sha384","sha1","md5"],"description":"HMAC algorithm to use for signature verification"},"encoding":{"type":"string","enum":["hex","base64"],"description":"Encoding format of the signature (hex or base64)"},"signature":{"$ref":"#/components/schemas/SignatureSource"},"signedComponents":{"type":"array","items":{"$ref":"#/components/schemas/SignedComponent"},"minItems":1,"description":"Array of components that are signed (order matters)"},"componentJoin":{"$ref":"#/components/schemas/ComponentJoin"},"validation":{"$ref":"#/components/schemas/SignatureValidationOptions"}},"required":["algorithm","encoding","signature","signedComponents","componentJoin"],"description":"Configuration for webhook signature verification"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}}},"TriggerInvocation":{"type":"object","properties":{"id":{"type":"string","maxLength":256},"triggerId":{"type":"string","maxLength":256},"conversationId":{"type":"string","nullable":true,"maxLength":256},"status":{"type":"string","maxLength":20},"requestPayload":{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"nullable":true},{"type":"object","additionalProperties":{"nullable":true}},{"type":"array","items":{"nullable":true}},{"nullable":true}]},"transformedPayload":{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"nullable":true},{"type":"object","additionalProperties":{"nullable":true}},{"type":"array","items":{"nullable":true}},{"nullable":true}]},"errorMessage":{"type":"string","nullable":true},"createdAt":{"type":"string"}},"required":["id","triggerId","conversationId","status","requestPayload","transformedPayload","errorMessage","createdAt"]},"TriggerInvocationListResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/TriggerInvocation"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["data","pagination"]},"TriggerInvocationResponse":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/TriggerInvocation"}},"required":["data"]},"TriggerIsDisabled":{"allOf":[{"$ref":"#/components/schemas/ProblemDetails"},{"type":"object","properties":{"title":{"type":"string","description":"A short, human-readable summary of the problem type.","example":"Conflict"},"status":{"type":"integer","description":"The HTTP status code.","example":409},"detail":{"type":"string","description":"A detailed explanation specific to this occurrence of the problem, providing context and specifics about what went wrong.","example":"Trigger is disabled"},"code":{"type":"string","enum":["conflict"],"description":"A short code indicating the error code returned.","example":"conflict"},"error":{"type":"object","properties":{"code":{"type":"string","enum":["conflict"],"description":"A short code indicating the error code returned.","example":"conflict"},"message":{"type":"string","description":"A concise error message suitable for display to end users. May be truncated if the full detail is long.","example":"Trigger is disabled"}},"required":["code","message"],"description":"Legacy error format for backward compatibility."}},"required":["error"]}]},"TextPart":{"type":"object","properties":{"kind":{"type":"string","enum":["text"]},"text":{"type":"string"},"metadata":{"type":"object","additionalProperties":{"nullable":true}}},"required":["kind","text"]},"FilePart":{"type":"object","properties":{"kind":{"type":"string","enum":["file"]},"file":{"anyOf":[{"type":"object","properties":{"name":{"type":"string"},"mimeType":{"type":"string"},"bytes":{"type":"string"}},"required":["bytes"],"additionalProperties":false},{"type":"object","properties":{"name":{"type":"string"},"mimeType":{"type":"string"},"uri":{"type":"string"}},"required":["uri"],"additionalProperties":false}]},"metadata":{"type":"object","additionalProperties":{"nullable":true}}},"required":["kind","file"]},"DataPart":{"type":"object","properties":{"kind":{"type":"string","enum":["data"]},"data":{"type":"object","additionalProperties":{"nullable":true}},"metadata":{"type":"object","additionalProperties":{"nullable":true}}},"required":["kind","data"]},"Part":{"oneOf":[{"$ref":"#/components/schemas/TextPart"},{"$ref":"#/components/schemas/FilePart"},{"$ref":"#/components/schemas/DataPart"}],"discriminator":{"propertyName":"kind","mapping":{"text":"#/components/schemas/TextPart","file":"#/components/schemas/FilePart","data":"#/components/schemas/DataPart"}}},"ScheduledTrigger":{"type":"object","properties":{"id":{"type":"string","maxLength":256},"name":{"type":"string","maxLength":256},"description":{"type":"string","nullable":true},"enabled":{"type":"boolean"},"cronExpression":{"type":"string","nullable":true,"maxLength":256},"cronTimezone":{"type":"string","nullable":true,"maxLength":64},"runAt":{"type":"string","nullable":true},"payload":{"type":"object","nullable":true,"additionalProperties":{"nullable":true}},"messageTemplate":{"type":"string","nullable":true},"maxRetries":{"type":"number","minimum":-9007199254740991,"maximum":9007199254740991},"retryDelaySeconds":{"type":"number","minimum":-9007199254740991,"maximum":9007199254740991},"timeoutSeconds":{"type":"number","minimum":-9007199254740991,"maximum":9007199254740991},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","name","description","enabled","cronExpression","cronTimezone","runAt","messageTemplate","maxRetries","retryDelaySeconds","timeoutSeconds","createdAt","updatedAt"]},"ScheduledTriggerWithRunInfo":{"allOf":[{"$ref":"#/components/schemas/ScheduledTrigger"},{"type":"object","properties":{"lastRunAt":{"type":"string","nullable":true,"format":"date-time","description":"Timestamp of the last completed or failed run"},"lastRunStatus":{"type":"string","nullable":true,"enum":["completed","failed"],"description":"Status of the last run"},"lastRunConversationIds":{"type":"array","items":{"type":"string"},"description":"Conversation IDs from the last run"},"nextRunAt":{"type":"string","nullable":true,"format":"date-time","description":"Timestamp of the next pending run"}},"required":["lastRunAt","lastRunStatus","lastRunConversationIds","nextRunAt"]}]},"ScheduledTriggerWithRunInfoListResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/ScheduledTriggerWithRunInfo"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["data","pagination"]},"ScheduledTriggerInvocation":{"type":"object","properties":{"id":{"type":"string","maxLength":256},"scheduledTriggerId":{"type":"string","maxLength":256},"status":{"type":"string","enum":["pending","running","completed","failed","cancelled"]},"scheduledFor":{"type":"string"},"startedAt":{"type":"string","nullable":true},"completedAt":{"type":"string","nullable":true},"resolvedPayload":{"type":"object","nullable":true,"additionalProperties":{"nullable":true}},"conversationIds":{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"nullable":true},{"type":"object","additionalProperties":{"nullable":true}},{"type":"array","items":{"nullable":true}},{"nullable":true}]},"attemptNumber":{"type":"integer","minimum":-2147483648,"maximum":2147483647},"idempotencyKey":{"type":"string","maxLength":256},"createdAt":{"type":"string"}},"required":["id","scheduledTriggerId","status","scheduledFor","startedAt","completedAt","conversationIds","attemptNumber","idempotencyKey","createdAt"]},"ScheduledTriggerInvocationListResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/ScheduledTriggerInvocation"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["data","pagination"]},"ScheduledTriggerResponse":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/ScheduledTrigger"}},"required":["data"]},"ScheduledTriggerCreate":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/ResourceId"},"name":{"type":"string","minLength":1,"description":"Scheduled trigger name"},"description":{"type":"string","nullable":true,"description":"Scheduled trigger description"},"enabled":{"type":"boolean","default":true,"description":"Whether the trigger is enabled"},"cronExpression":{"$ref":"#/components/schemas/CronExpression"},"cronTimezone":{"type":"string","nullable":true,"maxLength":64,"default":"UTC","description":"IANA timezone for cron expression (e.g., America/New_York, Europe/London)"},"runAt":{"type":"string","nullable":true,"format":"date-time","description":"One-time execution timestamp"},"payload":{"type":"object","nullable":true,"additionalProperties":{"nullable":true},"description":"Static payload for agent execution"},"messageTemplate":{"type":"string","nullable":true,"minLength":1,"description":"Message template with {{placeholder}} syntax"},"maxRetries":{"type":"integer","minimum":0,"maximum":10,"default":1},"retryDelaySeconds":{"type":"integer","minimum":10,"maximum":3600,"default":60},"timeoutSeconds":{"type":"integer","minimum":30,"maximum":780,"default":780},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["name"]},"ScheduledTriggerUpdate":{"type":"object","properties":{"tenantId":{"type":"string","maxLength":256},"id":{"$ref":"#/components/schemas/ResourceId"},"projectId":{"type":"string","maxLength":256},"agentId":{"type":"string","maxLength":256},"name":{"type":"string","minLength":1,"description":"Scheduled trigger name"},"description":{"type":"string","nullable":true,"description":"Scheduled trigger description"},"enabled":{"type":"boolean","description":"Whether the trigger is enabled"},"cronExpression":{"$ref":"#/components/schemas/CronExpression"},"cronTimezone":{"type":"string","nullable":true,"maxLength":64,"default":"UTC","description":"IANA timezone for cron expression (e.g., America/New_York, Europe/London)"},"runAt":{"type":"string","nullable":true,"format":"date-time","description":"One-time execution timestamp"},"payload":{"type":"object","nullable":true,"additionalProperties":{"nullable":true},"description":"Static payload for agent execution"},"messageTemplate":{"type":"string","nullable":true,"minLength":1,"description":"Message template with {{placeholder}} syntax"},"maxRetries":{"type":"integer","minimum":0,"maximum":10,"default":1},"retryDelaySeconds":{"type":"integer","minimum":10,"maximum":3600,"default":60},"timeoutSeconds":{"type":"integer","minimum":30,"maximum":780,"default":780},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}}},"ScheduledTriggerInvocationResponse":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/ScheduledTriggerInvocation"}},"required":["data"]},"DatasetItem":{"type":"object","properties":{"id":{"type":"string","maxLength":256},"datasetId":{"type":"string","maxLength":256},"input":{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"nullable":true},{"type":"object","additionalProperties":{"nullable":true}},{"type":"array","items":{"nullable":true}},{"nullable":true}]},"expectedOutput":{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"nullable":true},{"type":"object","additionalProperties":{"nullable":true}},{"type":"array","items":{"nullable":true}},{"nullable":true}]},"simulationAgent":{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"nullable":true},{"type":"object","additionalProperties":{"nullable":true}},{"type":"array","items":{"nullable":true}},{"nullable":true}]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","datasetId","input","expectedOutput","simulationAgent","createdAt","updatedAt"]},"DatasetItemCreate":{"type":"object","properties":{"input":{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"nullable":true},{"type":"object","additionalProperties":{"nullable":true}},{"type":"array","items":{"nullable":true}},{"nullable":true}]},"expectedOutput":{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"nullable":true},{"type":"object","additionalProperties":{"nullable":true}},{"type":"array","items":{"nullable":true}},{"nullable":true}]},"simulationAgent":{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"nullable":true},{"type":"object","additionalProperties":{"nullable":true}},{"type":"array","items":{"nullable":true}},{"nullable":true}]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["input"]},"DatasetItemUpdate":{"type":"object","properties":{"input":{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"nullable":true},{"type":"object","additionalProperties":{"nullable":true}},{"type":"array","items":{"nullable":true}},{"nullable":true}]},"expectedOutput":{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"nullable":true},{"type":"object","additionalProperties":{"nullable":true}},{"type":"array","items":{"nullable":true}},{"nullable":true}]},"simulationAgent":{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"nullable":true},{"type":"object","additionalProperties":{"nullable":true}},{"type":"array","items":{"nullable":true}},{"nullable":true}]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}}},"EvaluationJobConfig":{"type":"object","properties":{"id":{"type":"string","maxLength":256},"jobFilters":{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"nullable":true},{"type":"object","additionalProperties":{"nullable":true}},{"type":"array","items":{"nullable":true}},{"nullable":true}]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","jobFilters","createdAt","updatedAt"]},"EvaluationJobConfigCreate":{"type":"object","properties":{"jobFilters":{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"nullable":true},{"type":"object","additionalProperties":{"nullable":true}},{"type":"array","items":{"nullable":true}},{"nullable":true}]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"evaluatorIds":{"type":"array","items":{"type":"string"},"minItems":1}},"required":["evaluatorIds"]},"EvaluationResult":{"type":"object","properties":{"id":{"type":"string","maxLength":256},"conversationId":{"type":"string"},"evaluatorId":{"type":"string"},"evaluationRunId":{"type":"string","nullable":true},"output":{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"nullable":true},{"type":"object","additionalProperties":{"nullable":true}},{"type":"array","items":{"nullable":true}},{"nullable":true}]},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","conversationId","evaluatorId","evaluationRunId","output","createdAt","updatedAt"]},"EvaluationRunConfig":{"type":"object","properties":{"id":{"type":"string","maxLength":256},"name":{"type":"string","maxLength":256},"description":{"type":"string","nullable":true},"isActive":{"type":"boolean"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","name","description","isActive","createdAt","updatedAt"]},"EvaluationRunConfigWithSuiteConfigs":{"allOf":[{"$ref":"#/components/schemas/EvaluationRunConfig"},{"type":"object","properties":{"suiteConfigIds":{"type":"array","items":{"type":"string"}}},"required":["suiteConfigIds"]}]},"EvaluationRunConfigCreate":{"type":"object","properties":{"name":{"type":"string","maxLength":256},"description":{"type":"string","nullable":true},"isActive":{"type":"boolean"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"suiteConfigIds":{"type":"array","items":{"type":"string"},"minItems":1}},"required":["name","suiteConfigIds"]},"EvaluationRunConfigUpdate":{"type":"object","properties":{"name":{"type":"string","maxLength":256},"description":{"type":"string","nullable":true},"isActive":{"type":"boolean"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"suiteConfigIds":{"type":"array","items":{"type":"string"}}}},"EvaluationSuiteConfig":{"type":"object","properties":{"id":{"type":"string","maxLength":256},"filters":{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"nullable":true},{"type":"object","additionalProperties":{"nullable":true}},{"type":"array","items":{"nullable":true}},{"nullable":true}]},"sampleRate":{"type":"number","nullable":true,"minimum":-140737488355328,"maximum":140737488355327},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","filters","sampleRate","createdAt","updatedAt"]},"EvaluationSuiteConfigCreate":{"type":"object","properties":{"filters":{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"nullable":true},{"type":"object","additionalProperties":{"nullable":true}},{"type":"array","items":{"nullable":true}},{"nullable":true}]},"sampleRate":{"type":"number","nullable":true,"minimum":-140737488355328,"maximum":140737488355327},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"evaluatorIds":{"type":"array","items":{"type":"string"},"minItems":1}},"required":["evaluatorIds"]},"EvaluationSuiteConfigUpdate":{"type":"object","properties":{"filters":{"anyOf":[{"type":"string"},{"type":"number"},{"type":"boolean"},{"nullabl
[...]
