name: Inkeep Agent

on:
  issue_comment:
    types: [created]

  pull_request:
    types: [opened]

permissions:
  contents: read
  pull-requests: read
  id-token: write

jobs:
  trigger-agent:
    if: (github.event.issue.pull_request && contains(github.event.comment.body, '@inkeep')) || (github.event_name == 'pull_request' && github.event.action == 'opened')
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Inkeep Agent
        uses: inkeep/inkeep-agents-action@v0
        with:
          trigger-url: ${{ secrets.INKEEP_CONTENT_WRITER_TRIGGER_URL }}
          
    