workflowVersion: 1.0.0
speakeasyVersion: latest
sources:
    Inkeep Agents {{API_TITLE}}:
        inputs:
            - location: openapi.json
        output: .speakeasy/out.openapi.yaml
        registry:
            location: registry.speakeasyapi.dev/inkeep/inkeep/inkeep-agents-{{API_NAME}}
targets:
    inkeep-agents:
        target: mcp-typescript
        source: Inkeep Agents {{API_TITLE}}

